<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
<h1>Help</h1>
<p>Voici un récapitulatif des commandes disponibles :</p>

<p>Liste des STB</p>
<ul>
    <li>
        <p>Format XML</p>
        <ul>
            <li>URL : /stb23/resume/xml</li>
            <li>Méthode : GET</li>
            <li>Affiche la liste des spéfications stockés</li>
        </ul>
    </li>
    <li>
        <p>Format HTML</p>
        <ul>
            <li>URL : /stb23/resume/html</li>
            <li>Méthode : GET</li>
            <li>Affiche la liste des spéfications stockés</li>
        </ul>
    </li>
</ul>

<p>Détails d'une spéfication</p>
<ul>
    <li>
        <p>Format XML</p>
        <ul>
            <li>URL : /stb23/resume/xml/{id}
                {id} = valeur numérique de l’identifiant</li>
            <li>Méthode : GET</li>
            <li>Affiche le contenu complet de la spéfication dont l’identifiant est {id}</li>
        </ul>
    </li>
    <li>
        <p>Format HTML</p>
        <ul>
            <li>URL : /stb23/html/{id}
                {id} = valeur numérique de l’identifiant</li>
            <li>Méthode : GET</li>
            <li>Affiche le contenu complet de la spéfication dont l’identifiant est {id}</li>
        </ul>
    </li>
</ul>
<p>Ajout d'une STB dans la base</p>
<ul>
    <li>URL : stb23/insert</li>
    <li>Méthode : POST</li>
    <li>Le flux reçu est validé par le schéma XSD de définition stb23.</li>
</ul>
<p>Suppression d'une spéfication</p>
<ul>
    <li>URL : /stb23/delete/{id}
        {id} = valeur numérique de l’identifiant</li>
    <li>Méthode : DELETE</li>
    <li>Suppression de la spéfication dont l’identifiant est {id}</li>
</ul>
</body>
</html>